@model SaleStore.Models.ViewModels.HomePageViewModels
@using PagedList.Core.Mvc

<!-- /.Fixed navbar  -->
<!-- Main component call to action -->
<!-- /main container -->
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active">Kampanyalarım</li>
            </ul>
        </div>
    </div>

    <div class="row">



        <!--left column-->

        

        <!--right column-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group text-center">
                @if (Model.Campaigns.Count() < Model.Companies.FirstOrDefault().CampaignCount)
                {
                    <p><a asp-action="Create" class="btn btn-block btn-primary">Kampanya Ekle</a></p>
                }
                else
                {

                    <p><a asp-controller="Home" asp-action="Contact" class="btn btn-block btn-primary">DAHA FAZLA KAMPANYA EKLEYEBİLMEK İÇİN SİTE YÖNETİCİSİ İLE İLETİŞİME GEÇİNİZ</a></p>
                }

            </div>

            <!--/.subCategoryList-->

            @foreach (var item in Model.Campaigns)
            {
                <div class="featuredImageLook3">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-xs-min-12" style="padding-left:5px;padding-right:5px;">
                        <div class="inner img-thumbnail">
                            <div class="box-content-overly box-content-overly-white ">
                                <div class="box-text-table ">
                                    <div class="box-text-cell ">
                                        <div class="box-text-cell-inner dark">
                                            <h2 class="uppercase">@item.Name</h2>


                                            <a asp-action="Edit" class="btn btn-info btn-xs" asp-route-id="@item.Id">Düzenle</a>
                                            <a asp-action="Details" class="btn btn-default btn-xs" asp-route-id="@item.Id">Detaylar</a>
                                            <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id">Sil</a>


                                            <hr class="submini">
                                            <h4>@item.Companies.Name</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.box-content-overly -->
                            <div class="img-title"> @item.Name</div>
                            <a class="img-block center-align" href="#"> <img class="img-responsive center-block" style="height:280px;" src="/@item.Image" alt="img"></a>
                        </div>
                    </div>

                </div>
            }
        </div>



        @*<div class="width100 section-block  text-center">
            <div class="row featuredImgLook2">
             @foreach (var item in Model.Campaigns)
             {

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="inner">
                        <a href="category.html" style="height: 250px;" class="img-link"><img alt="img" style="display: block; height: auto; max-width: 100%;" class="img-responsive img-thumbnail" src="/@item.Image"></a>

                        <div class="form-group" style="bottom:0;">
                            <h3> @item.Name </h3>

                            <p>@item.Description</p>
                            <p>@item.Slogan</p>


                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Düzenle</a>
                            <a asp-action="Details" class="btn btn-default" asp-route-id="@item.Id">Detaylar</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sil</a>
                        </div>
                    </div>

                </div>


             }
            </div>*@
        <!--/.row-->
    </div>

           </div>  
        <div class="text-center">

            <pager class="pager-container" list="@Model.Campaigns" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Index" asp-controller="MyCampaigns" />
        </div>

            
            <!--/.featuredImageLook3-->
        
    <!--/.featuredPostContainer-->

<!-- /main container -->
<!--/.section-block-->
<!--/right column end-->
<!-- /.row  -->
<!-- /main container -->

<div class="gap"></div>
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Modal -->
