@model SaleStore.Models.ViewModels.HomePageViewModels
@using PagedList.Core.Mvc
<!-- /.Fixed navbar  -->
<div class="container main-container headerOffset">

    <!-- Main component call to action -->

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active">Ürünlerim</li>
            </ul>
        </div>
    </div>
    <!-- /.row  -->

    <div class="row">

        <!--left column-->

        

        <!--right column-->
        <!--/.subCategoryList-->
        <!--/.productFilter-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p><a class="btn btn-block btn-primary" asp-action="Create">Ürün Ekle</a></p>
        <div class="row  categoryProduct xsResponse clearfix">
            @foreach(var item in Model.Products) {
            <!--/.item-->
            <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                <div class="product">               
                    <div class="image">
                        <div class="quickview">
                            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="/Home/Product/@item.Id"
                               data-target="#productSetailsModalAjax">Hızlı İncele</a>
                        </div>
                        <a href="product-details.html">
                            <img src="/@item.ProductImage" alt="img" class="img-responsive"  style="margin-top:10px;height:250px;"
                        </a> 
                        @{ var discount = (int)(100-((@item.SalePrice * 100) / @item.UnitPrice));}
                        <div class="promotion">
                            @{ if ((DateTime.Now.Day - item.UpdateDate.Day) < 3)
                                {
                                    <span class="new-product"> Yeni</span>
                                }

                            }
                            <span class="discount">% @discount indirim</span>

                        </div>

                    </div>
                    <div class="title">
                        <h4 style="min-height: 25px;"><a href="product-details.html">@item.Name </a></h4>
                        <div class="product-price">
                            <span class="price-standard" style="font-size:14px;"> @Html.DisplayFor(model => item.UnitPrice) </span>	&nbsp;
                            <span class="price-sales" style="font-size:24px;"> @Html.DisplayFor(model => item.SalePrice)</span>
                        </div>
                                        
                        <span class="size">@item.CreatedBy</span>
                    </div>
                    
                    <div class="action-control">
                        <a id="newbtn" class="btn btn-xs  btn-danger" asp-action="Details" asp-route-id="@item.Id">
                            <span class="add2cart">
                                <i class="glyphicon glyphicon-eye-open">&nbsp;</i>İncele
                            </span>
                        </a>
                        <a id="newbtn" style="margin-left:5px;margin-right:5px;" class="btn btn-xs  btn-info" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="add2cart">
                                <i class="glyphicon glyphicon-edit">&nbsp;</i>Düzenle
                            </span>
                        </a>
                        <a id="newbtn" class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="add2cart">
                                <i class="glyphicon glyphicon-alert">&nbsp;</i>Sil
                            </span>
                        </a>
                    </div>
                    <br />
                </div>
            </div>
            <!--/.item--> }
        </div>
        <div class="text-center">

            <pager class="pager-container" list="@Model.Products" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Index" asp-controller="MyProducts" />
        </div>
        <!--/.categoryProduct || product content end-->
        </div>
        
        </div>
        <!--/.categoryFooter-->
  
    <!--/right column end-->
</div>
<!-- /.row  -->
<!-- /main container -->

<div class="gap"></div>

<!-- Product Details Modal  -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
<script>
$(document).ready(function () {
    $(document).on('hidden.bs.modal', function (e) {
        $(e.target).removeData('bs.modal');
    });
    });
</script>
}
<!-- /.modal -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

