@model SaleStore.Models.Company

@{
    ViewData["Title"] = "Firma Sil";
}

<h2>Firma Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <form asp-action="Delete">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Logo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Logo)
            </dd>
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <a asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
