@model SaleStore.Models.Company

@{
    ViewData["Title"] = "Firma Detayları";
}
<br />
<div class="row">
    <div class="col-md-12 col-xs-11 col-sm-11">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Firma Detayları</span>
                </div>

            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProductCount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ProductCount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CampaignCount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CampaignCount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Logo)
                        </dt>
                        <dd>
                            <img style="width:80px;" class="img-thumbnail img-responsive" src="/@Html.DisplayFor(model => model.Logo)" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>
                    </dl>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
                    <a asp-action="Index" class="btn default">Listeye Geri Dön</a>


                </div>
            </div>
        </div>
    </div>
</div>