@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using System.Globalization
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@using PaulMiami.AspNetCore.Mvc.Recaptcha

@{
    ViewData["Title"] = "Giriş";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Üye Girişi</h1>
        <p class="lead text-center">Lütfen e-posta adresini ve şifreniz ile giriş yapınız, üye değilseniz ücretsiz üye olabilirsiniz.</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>Giriş yapmak için e-postanızı ve şifrenizi giriniz.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <input asp-for="RememberMe" />
                                    <label asp-for="RememberMe"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-2">
                                <button type="submit" class="btn btn-primary">Giriş</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <recaptcha size="RecaptchaSize.Compact" />
                                <span class="text-danger" id="recaptchaErrorMessage"></span>
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-9">
                            <br />
                            <a class="btn btn-primary" href="/account/register">Yeni Kayıt</a>
                            <a class="btn btn-primary" href="/account/forgotpassword">Şifremi Unuttum ?</a>
                            <!--           <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Yeni Kayıt</a> -->
                            <!--           <a asp-action="ForgotPassword">Şifremi Unuttum</a> -->
                        </div>


                    </form>

                </div>
                <div class="col-md-4">

                    <h4>Sosyal medya ile giriş yapın</h4>
                    <hr />
                    @{
                        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    Harici oturum sağlayıcı ayarlanmamış.
                                </p>
                            </div>

                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button class="btn btn-block @(provider.AuthenticationScheme.ToLowerInvariant()=="linkedin"?"btn-primary":"btn-social") btn-@provider.AuthenticationScheme.ToLowerInvariant()" type="submit" name="provider" value="@provider.AuthenticationScheme" title="@provider.DisplayName ile hesabınıza giriş yapın">
                                                <span class="fa fa-@provider.AuthenticationScheme.ToLowerInvariant()"></span> @provider.AuthenticationScheme ile giriş yapın.
                                            </button>
                                        }
                                    </p>
                                </div>


                            </form>
                        }
                    }

                </div>
            </div>

            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
            }
        </div>
    </section>
</main>