@model SaleStore.Models.Campaign

@{
    ViewData["Title"] = "Kampanya Sil";
}

<h2>Kampanya Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <form asp-action="Delete">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Slogan)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Slogan)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CampaignStartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CampaignStartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CampaignEndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CampaignEndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Id)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
