@model SaleStore.Models.Product

@{
    ViewData["Title"] = "Ürün Sil";
}

<h2>Ürün Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <form asp-action="Delete">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SalePrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SaleStarthDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SaleStarthDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SaleEndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SaleEndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductImage)
            </dd>
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Company.Id)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <a asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
