@model SaleStore.Models.Company

@{
    ViewData["Title"] = "Firma Sil";
}

<br />
<div class="row headerOffset" style="padding-top:80px;padding-left:30px;padding-right:30px;">
    <div class="col-md-12 col-xs-11 col-sm-11">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Firma Sil</span>
                    <h3>Silmek istediğinize emin misiniz?</h3>
                </div>

            </div>
            <form asp-action="Delete" enctype="multipart/form-data" asp-route-id="@Model.Id">


                <hr />
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Logo)
                                </dt>
                                <dd>
                                    <img style="width:80px;" class="img-thumbnail img-responsive" src="/@Html.DisplayFor(model => model.Logo)" />

                                </dd>
                                <input type="hidden" asp-for="Id" />
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdateDate)
                                </dd>
                            </dl>



                            <div class="form-actions">
                                <input type="submit" value="Sil" class="btn btn-danger" /> |
                                <a asp-action="Index" class="btn default btn-outline">Listeye Geri Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>   