@model SaleStore.Models.Advertisement

@{
    ViewData["Title"] = "Reklam Sil";
}

<br />
<div class="row">
    <div class="col-md-12 col-xs-11 col-sm-11">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Reklam Sil</span>
                    <h3>Silmek istediğinize emin misiniz?</h3>
                </div>

            </div>
            <form asp-action="Delete" enctype="multipart/form-data" asp-route-id="@Model.Id">


                <br />
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.advType)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.advType)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.HTMLCodes)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.HTMLCodes)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Image)
                                </dt>
                                <dd>
                                    <img style="width:80px;" class="img-thumbnail img-responsive" src="/@Html.DisplayFor(model => model.Image)" />
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.URLpath)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.URLpath)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Ispublished)
                                </dt>
                                <dt>
                                    @Html.DisplayNameFor(model => model.HomePageCampaigns)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.HomePageCampaigns)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.HomePageProducts)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.HomePageProducts)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProductsPage)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ProductsPage)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CampaignPage)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CampaignPage)
                                </dd>
                                <dd>
                                    @Html.DisplayFor(model => model.Ispublished)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AdvertiseStartDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AdvertiseStartDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AdvertiseEndDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AdvertiseEndDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ClickRate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ClickRate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.PositionDegree)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PositionDegree)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedBy)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdateDate)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="btn btn-danger" />
                        <a asp-action="Index" class="btn default btn-outline">Listeye Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
   