
    <div class="parallax-section parallax-fx about-3 parallaxOffset no-padding"
         style="background-image: url(/images/hero-bg/1.jpg);opacity:0.6;filter: grayscale(100%); ">
        <div class="w100 ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="parallax-content clearfix  wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0">
                            <h2 class="intro-heading ">
                                @ViewBag.About
                                </h2>
                                <br> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.parallax -->

@if (!String.IsNullOrEmpty(ViewBag.Message1))
{
    <div class="alert alert-success">@ViewBag.Message1</div>
}
    <div class="container main-container ">

        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content wow fadeIn" data-wow-duration=".8s" data-wow-delay="0">
                    <p class="lead-2 text-center">
                        @ViewBag.About
                    </p>

                </div>

                <div style="clear:both;">
                    <hr class="hr40">
                </div>


                <div class="row has-equal-height-child">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 col-xxs-12 ">
                        <div class=" display-table">
                            <div class="hw100 display-table-cell">
                                <div class="content-inner wow fadeInRight" data-wow-duration=".8s" data-wow-delay="0">

                                    <div class="about-content-text">
                                        <h3>
                                            Vizyonumuz
                                        </h3>
                                        <p>
                                            @ViewBag.Vision
                                        </p>
                                        <br />
                                        <h3>Misyonumuz</h3>
                                        <p>
                                            @ViewBag.Mission
                                        </p>
                                        <br />
                                        <h3>Stratejimiz</h3>
                                        <p>
                                            @ViewBag.Strategy
                                        </p>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-xxs-12 is-equal">
                        <div class="content-inner wow fadeInLeft" data-wow-duration=".8s" data-wow-delay="0">
                            <img src="~/images/about/7.jpg" class="img-responsive abt-img img-thumbnail" style="opacity:0.5;" alt="img">
                        </div>

                    </div>


                </div>
                <!--/.row-->

               
                <!--/.row-->
                <!--/row end-->
            </div>
        </div>
        <!--/.innerPage-->
        <div style="clear:both"></div>
    </div>
    <!-- /.main-container -->



    <div class="section-people white-bg">
        <div class="container">
            <div style="clear:both;">
                <hr class="hr40 hide-on-gray-look">
            </div>

            
        </div>
    </div>

    <div class="section-about-bottom"
         style="background: url(/images/about/bg.jpg) no-repeat bottom center; background-size: 100% auto">



        <!--  .row || Our People -->

        <div class="container">
            <div class="col-lg-12">
                <div class="about-content text-center  wow fadeInUp">
                    <h2 class="text-center about-title"> Bize Yazın </h2>

                    <p class="lead-2 ">
                        Sorularınızı , Şikayetlerinizi veya Önerilerinizi Bizimle Paylaşabilirsiniz.. 
                    </p>


                    <a class="btn btn-center btn-lg  btn-primary" href="/Home/Contact">
                        <i class=" fa fa-envelope"></i> Mesaj Gönder
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- /.section-about-bottom -->

    

    @*<div role="dialog" tabindex="-1" id="contact-us" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> ×</button>
                    <h3 class="modal-title-site text-center"> Selling Enquiries </h3>
                </div>
                

                <div class="modal-body">
                    <form asp-controller="Home" asp-action="About" method="post" enctype="multipart/form-data" role="form" lpformnum="24">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Ad" name="FullName">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email" name="Email">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control input-lg" placeholder="Telefon" name="Phone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Mesajınızı Girin" name="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <p id="form-error" class="help-block pull-left error text-danger hide">
                                &nbsp; Geçersiz Form
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-lg pull-right btn-block" type="submit">Mesaj Gönder!</button>
                        </div>
                    </form>

                </div>
                
            </div>
        </div>

    </div>*@

    



