@model SaleStore.Models.ViewModels.HomePageViewModels
@using PagedList.Core.Mvc
<!-- /main container -->
<div class="container main-container headerOffset">
    <h3 class="section-title style2 text-center"><span>KAMPANYALAR</span></h3>

    <!--left column-->

    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="panel-group" id="accordionNo">
            <!--Category-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCategory"
                           class="collapseWill active ">
                            <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Kategoriler
                        </a>
                    </h4>
                </div>

                <div id="collapseCategory" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <li class="active dropdown-tree open-tree">
                                <a asp-controller="Home" asp-action="SelectCampaigns/0" class="dropdown-tree-a">
                                    <span class="badge pull-right"></span> Tümü
                                </a>
                            </li>
                            <li class="active dropdown-tree open-tree">
                                @foreach (var item in Model.Categories)
                                {
                                    <a asp-controller="Home" asp-action="SelectCampaigns/@item.Id" class="dropdown-tree-a">
                                        <span class="badge pull-right"></span> @item.Name
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>



            </div>

            <!--/Category menu end-->

        </div>
    </div>

    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">


        <!--/.subCategoryList-->
        @foreach (var item in Model.Campaigns)
        {
            <div class="featuredImageLook3">
                <div class="col-md-6 col-sm-6 col-xs-12 col-xs-min-12">
                    <div class="inner">
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1 class="uppercase">@item.Name</h1>
                                        <a href="/Home/CampaignDetail/@item.Id" class="btn btn-default btn-xs" >Detaylar</a>

                                        <hr class="submini">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.box-content-overly -->
                        <div class="img-title"> @item.Name</div>
                        <a class="img-block" href="#"> <img class="img-responsive  img-thumbnail" width="" height="" src="/@item.Image" alt="img"></a>
                    </div>
                </div>

            </div>
        }

    </div>
    <div class="text-center">

        <pager class="pager-container" list="@Model.Campaigns" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Campaigns" asp-controller="Home" />
    </div>

        <!--/.featuredImageLook3-->
 
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->
<!--/.section-block-->

   
<!--/right column end-->

<!-- /.row  -->
<!-- /main container -->

<div class="gap"></div>
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





