@model SaleStore.Models.ViewModels.HomePageViewModels
@using PagedList.Core.Mvc

@{
    ViewData["Title"] = "Home Page";
}


<div class="banner banner-boxes">
    <div class="slider-content">
        <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
        <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

        <div class="swiper-container swiper-container-h">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <div class="box-text">
                            <h1>NEW COLLECTION</h1>

                            <p>
                                Veggies es bonus vobis, proinde vos postulo essum magis
                                kohlrabi welsh onion daikon amaranth.
                            </p>
                            <a class="btn btn-stroke-light"> SHOP NOW</a>
                        </div>
                        <div class="box-content-overly">
                            <!-- Delete this div if you dont want overly effect -->
                        </div>
                        @*@foreach (var item in Model.Settings)
                        {
                            <a href="#" class="box-img"> <img src=@item.Logo alt="img"></a>

                        }*@

                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <div class="box-text-table">
                                <div class="box-text-cell">
                                    <h1 class="bolder-style light"><a href="#">SALE</a></h1>
                                    <span class="bolder-sub"> <a href="#"> EXTRA 80% OFF </a> </span>
                                </div>
                            </div>
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/2a.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-slider-content">
                            <div class="box-price-tag"><span class="price">$200</span></div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/2b.jpg" alt="img"> </a>

                            <div class="box-content-overly">
                                <a href="#" class="box-blank-url">
                                    <!-- keep this blank. This link will provide a hyperlink over the box-content-overly div -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <div class="box-text bottom-align">
                            <h1>MEN COLLECTION</h1>
                            <a class="btn btn-stroke-light"> SHOP NOW</a>
                        </div>
                        <a href="#" class="box-img"> <img src="/images/slider/box/3.jpg" alt="img"></a>

                        <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                    </div>
                </div>
                <div class="swiper-slide slide-4x">
                    <div class="box-4in a">
                        <div class="box-slider-content">
                            <a href="#" class="box-img">
                                <img src="/images/slider/box/4a.jpg"
                                     alt="img">
                            </a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="box-4in b">
                        <div class="box-slider-content">
                            <a href="#" class="box-img">
                                <img src="/images/slider/box/4b.jpg"
                                     alt="img">
                            </a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="box-4in c">
                        <div class="box-slider-content">
                            <a href="#" class="box-img">
                                <img src="/images/slider/box/4c.jpg"
                                     alt="img">
                            </a>

                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell"><a class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-4in d">
                        <div class="box-slider-content">
                            <a href="#" class="box-img">
                                <img src="/images/slider/box/4d.jpg"
                                     alt="img">
                            </a>

                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell"><a class="btn btn-stroke-dark"> VIEW DEAL</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <a href="#" class="box-img">
                            <img src="/images/slider/box/6.jpg"
                                 alt="img">
                        </a>

                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>New Summer Look</h1>

                                        <p>
                                            Veggies es bonus vobis, proinde vos postulo essum magis
                                            kohlrabi welsh onion daikon amaranth.
                                        </p>
                                        <a class="btn btn-stroke-dark"> SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <span class="price dealprice"> $ 120 </span> <a class="btn btn-stroke-dark">VIEW DEAL</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/7b.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-4in c">
                            <div class="box-slider-content">
                                <a href="#" class="box-img">
                                    <img src="/images/slider/box/7b1.jpg" alt="img">
                                </a>

                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell">
                                            <span class="price"> $ 450 </span> <a class="btn btn-stroke-dark">VIEW DEAL</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-4in d">
                            <div class="box-slider-content">
                                <a href="#" class="box-img">
                                    <img src="/images/slider/box/7b2.jpg" alt="img">
                                </a>

                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell">
                                            <span class="price"> $ 680 </span> <a class="btn btn-stroke-dark">VIEW DEAL</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-1x">
                    <div class="box-slider-content">
                        <a href="#" class="box-img last-child-slide">
                            <img src="/images/slider/box/5.jpg" alt="img">
                        </a>

                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Discover it</h1>

                                        <p>
                                            Veggies es bonus vobis, proinde vos postulo essum magis
                                            kohlrabi welsh onion daikon amaranth.
                                        </p>
                                        <a class="btn btn-stroke-dark"> SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-pagination swiper-pagination"></div>
        </div>

        <!--/.full-container-->
    </div>
</div>
<!--/.banner style1-->

<div class="container main-container">

    <!-- Main component call to action -->

    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center"><span>SON EKLENENLER</span></h3>

        <div id="productslider" class="owl-carousel owl-theme">
           @foreach (var item in Model.Products)
           {
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="İstek Listesine Ekle"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <div class="quickview">
                            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html"
                               data-target="#productSetailsModalAjax">Detaylar</a>
                        </div>
                        <a href="product-details.html">
                            <img src="/@item.ProductImage" alt="img"
                                 class="img-responsive">
                        </a>
                    </div>
                    <div class="description">
                        <h4><a href="product-details.html">@item.Name</a></h4>

                        <p>
                            @if(string.IsNullOrEmpty(item.Details)==false && item.Details.Length > 30)
                            {
                                @item.Details.Substring(0,30)

                            }
                            else
                            {
                                @item.Details

                            }
                        </p>
                        <span class="size">XL / XXL / S </span>
                    </div>
                    <div class="price"><span>@item.SalePrice</span></div>
                    <div class="action-control">
                        <a class="btn btn-primary">
                            <span class="add2cart">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Add to cart
                            </span>
                        </a>
                    </div>
                </div>
            </div>
           }
        </div>
        <!--/.productslider-->

    </div>
    <!--/.featuredPostContainer-->
</div>












<!-- /main container -->
<div style="padding-top:0;" class="container main-container headerOffset">

    <!--left column-->

    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="panel-group" id="accordionNo">
            <!--Category-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCategory"
                           class="collapseWill active ">
                            <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Kategoriler
                        </a>
                    </h4>
                </div>
                @foreach (var item in Model.Categories)
                {
                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                <li class="active dropdown-tree open-tree">
                                    <a href="Select/id?" class ="dropdown-tree-a">
                                        <span class="badge pull-right"></span> @item.Name
                                       
                                       
                                            @*@foreach (var item1 in Model.Categories)
                                            {
                                                @foreach (var item2 in Model.Products)
                                                {
                                                    if (item1.Id == item2.CategoryId)
                                                    {
                                                        @await Component.InvokeAsync("Products")

                                                    }
                                                    else
                                                    {

                                                        @await Component.InvokeAsync("Products")
                                                    }

                                                }

                                            }*@
                                        
                                        
                                    </a>
                                   

                                </li>
                            </ul>
                        </div>
                    </div>

                }
              
            </div>
            <!--/Category menu end-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapseWill active " data-toggle="collapse"
                           href="#collapsePrice">
                            Price <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
                        </a> <span class="pull-right clearFilter  label-danger">Clear</span>
                    </h4>
                </div>
                <div id="collapsePrice" class="panel-collapse collapse in">
                    <div class="panel-body priceFilterBody">
                        <!-- -->
                        <label>
                            <input type="radio" name="agree" value="0" />
                            100$ - 500$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="1" />
                            500$ - 1000$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="2" />
                            1000$ - 1500$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="3" />
                            1500$ - 2000$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="4" />
                            2000$ - 2500$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="5" />
                            2500$ - 3000$
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="agree" value="6" disabled checked />
                            Don't know
                        </label>
                        <hr>
                        <p>Enter a Price range </p>

                        <form class="form-inline " role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail2"
                                       placeholder="2000 $">
                            </div>
                            <div class="form-group sp"> -</div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword2"
                                       placeholder="3000 $">
                            </div>
                            <button type="submit" class="btn btn-default pull-right">check</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--/price panel end-->

            
            <!--/brand panel end-->

            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseColor"
                           class="collapseWill active ">
                            Color <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseColor" class="panel-collapse collapse in">
                    <div class="panel-body smoothscroll maxheight300 color-filter">
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="0" />
                                <small style="background-color:#333333"></small>
                                Black <span>(123)</span>
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="1" />
                                <small style="background-color:#1664c4"></small>
                                Blue (434)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="2" />
                                <small style="background-color:#c00707"></small>
                                Red (338)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#6fcc14"></small>
                                Green (253)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#943f00"></small>
                                Brown (240)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#ff1cae"></small>
                                Pink (212)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#f5f5dc"></small>
                                Beige (176)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#adadad"></small>
                                Grey (154)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#5d00dc"></small>
                                Purple (132)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#f1f40e"></small>
                                Yellow (104)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#ffc600"></small>
                                Orange (77)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#9b1d00"></small>
                                Maroon (76)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#0a43a3"></small>
                                Navy Blue (68)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#ede4b2"></small>
                                Tan (67)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#ecf1ef"></small>
                                Silver (49)
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                <small style="background-color:#f3f1e7"></small>
                                Off White (44)
                            </label>
                        </div>
                        <div class="block-element">
                            <label> &nbsp; </label>
                        </div>
                    </div>
                </div>
            </div>*@
            <!--/color panel end-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree"
                           class="collapseWill active ">
                            Discount <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                Tüm Ürünler
                            </label>
                        </div>
                        <div class="block-element">
                            <label>
                                <input type="checkbox" name="tour" value="3" />
                                Yalnızca İndirimli Ürünler
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--/discount  panel end-->
        </div>
    </div>

    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">


        <!--/.subCategoryList-->

        <div class="w100 productFilter clearfix">
            <p class="pull-left"><strong>@Model.Products.Count</strong> ürün gösteriliyor. </p>

            <div class="pull-right ">

                <div class="change-view pull-right">
                    <a href="#" title="Grid" class="grid-view">
                        <i class="fa fa-th-large"></i>
                    </a> <a href="#" title="List" class="list-view ">
                        <i class="fa fa-th-list"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--/.productFilter-->
            
        @foreach (var item in Model.Categories)
        {
            if (item.Id == 1)
            {
                <div class="row  categoryProduct xsResponse clearfix">
                    @await Component.InvokeAsync("Products",item)
                </div>
            }

        }

              


        <!--/.categoryProduct || product content end-->
        <!--/.categoryFooter-->
    </div>
    <!--/right column end-->
</div>
<!-- /.row  -->
<!-- /main container -->

<div class="gap"></div>
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Modal -->
<!--/.section-block-->
<div class="container">
    <div class=" width100 section-block">
        <h3 class="section-title">
            <span> FİRMALAR</span> <a id="nextBrand" class="link pull-right carousel-nav">
                <i class="fa fa-angle-right"></i>
            </a> <a id="prevBrand" class="link pull-right carousel-nav">
                <i class="fa fa-angle-left"></i>
            </a>
        </h3>

        <div class="row">
            <div class="col-lg-12">
                <ul class="no-margin brand-carousel owl-carousel owl-theme">
                    <li><a><img src="/images/brand/1.gif" alt="img"></a></li>
                    <li><img src="/images/brand/2.png" alt="img"></li>
                    <li><img src="/images/brand/3.png" alt="img"></li>
                    <li><img src="/images/brand/4.png" alt="img"></li>
                    <li><img src="/images/brand/5.png" alt="img"></li>
                    <li><img src="/images/brand/6.png" alt="img"></li>
                    <li><img src="/images/brand/7.png" alt="img"></li>
                    <li><img src="/images/brand/8.png" alt="img"></li>
                    <li><img src="/images/brand/1.gif" alt="img"></li>
                    <li><img src="/images/brand/2.png" alt="img"></li>
                    <li><img src="/images/brand/3.png" alt="img"></li>
                    <li><img src="/images/brand/4.png" alt="img"></li>
                    <li><img src="/images/brand/5.png" alt="img"></li>
                    <li><img src="/images/brand/6.png" alt="img"></li>
                    <li><img src="/images/brand/7.png" alt="img"></li>
                    <li><img src="/images/brand/8.png" alt="img"></li>
                </ul>
            </div>
        </div>
        <!--/.row-->
    </div>
</div>
<!--/.section-block-->




