@model SaleStore.Models.Product

@{
    ViewData["Title"] = "ürün Detayları";
}


<!-- /.Fixed navbar  -->
<div class="container main-container headerOffset">

    <!-- left column -->
    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- product Image and Zoom -->

        <div class="main-image sp-wrap col-lg-12 no-padding">


            <a href="/@Html.DisplayFor(model => model.ProductImage)">
                <img src="/@Html.DisplayFor(model => model.ProductImage)" class="img-responsive img-thumbnail" alt="img" style="max-width:300px;">
            </a>


        </div>
    </div>
    <!--/ left column end -->
    <!-- right column -->
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1 class="product-title">
            @Html.DisplayFor(model => model.Name)

        </h1>

        <h1 class="product-code">@Html.DisplayFor(model => model.Details)</h1>
        <h1 class="product-code">@Html.DisplayFor(model => model.Category.Name)</h1>

        <div class="product-price">
            <span class="price-standard"> @Html.DisplayFor(model => model.UnitPrice) </span>	&nbsp;
            <span class="price-sales"> @Html.DisplayFor(model => model.SalePrice)</span>
        </div>


        <div class="product-price">

        </div>
        <div class="details-description">
            <p> </p>
        </div>
        <div class="product-tab w100 clearfix">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">@Html.DisplayNameFor(model => model.Details)</a></li>
                <li><a href="#size" data-toggle="tab">İndirim Tarihleri</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    @Html.DisplayFor(model => model.Details)
                </div>
                <div class="tab-pane" id="size">
                    <table>
                        <colgroup>
                            <col style="width:40%">
                            <col style="width:40%">

                        </colgroup>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.SaleStarthDate)</td>
                                <td>:@Html.DisplayFor(model => model.SaleStarthDate)</td>

                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.SaleEndDate)</td>
                                <td>:@Html.DisplayFor(model => model.SaleEndDate)</td>

                            </tr>

                        </tbody>

                    </table>
                </div>
                <div class="tab-pane" id="shipping">

                </div>
            </div>
            <!-- /.tab content -->

        </div>
        <!--/.product-tab-->
        <hr />
        <div class="cart-actions">
            <div class="addto row">




            </div>
            <div style="clear:both"></div>
            <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>

            <h3 style="display:none" class="incaps">
                <i class="fa fa-minus-circle color-out"></i> Out of stock
            </h3>

            <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online ordering</h3>
        </div>
        <!--/.cart-actions-->
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Paylaş</a></div>
        <div class="clear"></div>


        <div style="clear:both"></div>

        <!--/.product-share-->


        


    </div>
    <!--/.row-->


    <div style="clear:both"></div>

</div>


<!-- /main-container -->


<div class="gap"></div>


<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.9&appId=2323778817761402";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Modal review start -->
<!-- /.Modal review -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- jquery-migrate only for product details -->
<script src="~/assets/js/jquery-migrate-1.4.1.js"></script>


<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- include jqueryCycle plugin -->
<script src="/assets/js/jquery.cycle2.min.js"></script>
<!-- include easing plugin -->
<script src="/assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="/assets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- include smoothproducts // product zoom plugin  -->
<script type="text/javascript" src="/assets/js/smoothproducts.min.js"></script>

<!-- jQuery select2 // custom select   -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/assets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for site  -->
<script src="/assets/js/script.js"></script>


