@model SaleStore.Models.ViewModels.HomePageViewModels
@using PagedList.Core.Mvc

@{
    ViewData["Title"] = "Home Page";
}



<!-- /main container -->
<div style="padding-top:85px;" class="container main-container">

    <!--left column-->

    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="panel-group" id="accordionNo">
            <!--Category-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCategory"
                           class="collapseWill active ">
                            <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Kategoriler
                        </a>
                    </h4>
                </div>
                
                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                <li class="active dropdown-tree open-tree">
                                    <a asp-controller="Home" asp-action="Select/0" class="dropdown-tree-a">
                                        <span class="badge pull-right"></span> Tümü
                                    </a>
                                </li>
                                <li class="active dropdown-tree open-tree">
                                    @foreach (var item in Model.Categories)
                                    {
                                    <a asp-controller="Home" asp-action="Select/@item.Id" class ="dropdown-tree-a">
                                        <span class="badge pull-right"></span> @item.Name                                       
                                    </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>

                
              
            </div>
            <!--/Category menu end-->

            <!--/price panel end-->

          
            <!--/discount  panel end-->
        </div>
    </div>

    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">


        <!--/.subCategoryList-->

        <div class="w100 productFilter clearfix">
            <p class="pull-left"><strong>@Model.Products.Count</strong> ürün gösteriliyor. </p>

            <div class="pull-right ">

                <div class="change-view pull-right">
                    <a href="#" title="Grid" class="grid-view">
                        <i class="fa fa-th-large"></i>
                    </a> <a href="#" title="List" class="list-view ">
                        <i class="fa fa-th-list"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--/.productFilter-->
                <div class="row  categoryProduct xsResponse clearfix">
                   @foreach (var item in Model.Products)
                   {
                       if (item.IsPublish == true) { 
                    <div class="item itemauto col-sm-4 col-lg-4 col-md-4 col-xs-6">

                        <div class="product">

                            <div class="imageHover">
                                <a href="product-details.html">
                                    <img src="/@item.ProductImage" alt="img" class="img-responsive"  style="margin-top:10px;height:250px;" />
                               
                                </a>
                                @{ var discount = (int)(100 - (@item.SalePrice * 100) / @item.UnitPrice);}
                                <div class="promotion">
                                    @{ if ((DateTime.Now.Day - item.UpdateDate.Day) < 3)
                                        {
                                            <span class="new-product"> Yeni</span>
                                        }

                                    }
                                    <span class="discount">% @discount indirim</span>
                                    
                                </div>
                            </div>


                            <div class="description">
                                <h4><a href="product-details.html"> @item.Name </a></h4>

                                <div class="grid-description">
                                    <p>@item.Details</p>
                                </div>
                                <div class="list-description">
                                    <p>
                                       @item.Details
                                    </p>
                                </div>
                                @{ var last = item.SaleEndDate.Day - item.SaleStarthDate.Day;  }
                                <span class="size"><b> Son @last Gün</b> </span>
                            </div>
                            <div class="price">
                                <span class="price-standard" style="font-size:14px;"> @Html.DisplayFor(model => item.UnitPrice) </span>	&nbsp;
                                <span class="price-sales" style="font-size:20px;"> @Html.DisplayFor(model => item.SalePrice)</span>
                            </div>
                            <div class="action-control">
                                <a class="btn btn-default" href="/Home/ProductDetail/@item.Id">
                                    <span class="add2cart">
                                        <i class="glyphicon glyphicon-eye-open">&nbsp;</i>Ürünü İncele
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                                        }
                                    }
                </div>
        <div class="text-center">

            <pager class="pager-container" list="@Model.Products" options="@PagedListRenderOptions.ClassicPlusFirstAndLast" asp-action="Products" asp-controller="Home" />
        </div>

              


        <!--/.categoryProduct || product content end-->
        <!--/.categoryFooter-->
    </div>
    <!--/right column end-->
</div>
<!-- /.row  -->
<!-- /main container -->

<div class="gap"></div>
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Modal -->





