@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@model SaleStore.Models.ViewModels.HomePageViewModels*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
    <title> @ViewBag.Title </title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/custom.css" rel="stylesheet">
    <!-- styles needed by swiper slider -->
    <link href="/assets/plugins/swiper-master/css/swiper.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">


    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- include pace script for automatic web page progress bar  -->


</head>

<body>


    <!-- Fixed navbar start -->
    <div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
        <div class="navbar-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-sm-4 col-xs-4 col-md-6">
                        <div class="pull-left ">
                            <ul class="userMenu ">
                                <li>
                                    <a href="Home/Contact">
                                        <span class="hidden-xs">YARDIM</span><i class="glyphicon glyphicon-info-sign hide visible-xs "></i>
                                    </a>
                                </li>
                                <li class="phone-number">
                                    <a href="callto:+@ViewBag.Phone">
                                        <span>
                                            <i class="glyphicon glyphicon-phone-alt "></i>
                                        </span> <span class="hidden-xs"
                                                      style="margin-left:5px">@ViewBag.Phone</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-8 col-xs-8 col-md-6 no-margin no-padding">
                                    <div class="pull-right">
                                        <ul class="userMenu">
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <li class="dropdown">

                                                    <a id="telefon" data-toggle="dropdown" class="dropdown-toggle padding-fix" href="#">
                                                        Profilim<b class="caret"> </b>
                                                    </a>
                                                    <ul class="dropdown-menu" style="min-width:100px" ;>


                                                        @if (User.IsInRole("ADMIN") == true)
                                                        {
                                                            <li><a href="/Admin">Yönetim Paneli </a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="/MyCompanies">Şirket Ayarlarım </a></li>
                                                            <li><a href="/MyCampaigns">Kampanyalarım </a></li>
                                                            <li><a href="/MyProducts">Ürünlerim </a></li>                                                           
                                                        }




                                                    </ul>
                                                </li>
                                            }

                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <li>
                                                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="glyphicon glyphicon-user hide visible-xs "></i>  <span class="visible-md visible-lg">Merhaba,@UserManager.GetUserName(User)!</span></a>
                                                </li>
                                                <li>
                                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right"></form>
                                                    <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();">
                                                        <span class="hidden-xs">Çıkıs Yap</span>
                                                        <i class="glyphicon glyphicon-log-out hide visible-xs "></i>
                                                    </a>

                                                </li>

                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="/account/login">
                                                        <span class="hidden-xs">Giriş</span>
                                                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                                                    </a>
                                                </li>
                                                <li class="hidden-xs">
                                                    <a href="/account/register">
                                                        Hesap Oluştur
                                                    </a>
                                                </li>
                                            }

                                        </ul>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--/.navbar-top-->

                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"> </span> <span class="icon-bar"></span> <span class="icon-bar"> </span>
                            </button>

                            <a class="navbar-brand " href="/"> <img src="@ViewBag.Logo" style="height:60px;margin-top:-15px;" alt="SaleStore" /></a>

                            <!-- this part for mobile -->
                            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                                <div class="input-group">
                                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                                </div>
                                <!-- /input-group -->

                            </div>
                        </div>

                        <!-- this part is duplicate from cartMenu  keep it for mobile -->
                        <div class="navbar-cart  collapse">
                            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                                <div class="w100 miniCartTable scroll-pane">
                                    <table>
                                        <tbody>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/3.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/2.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/5.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/3.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/3.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                            <tr class="miniCartProduct">
                                                <td style="width:20%" class="miniCartProductThumb">
                                                    <div>
                                                        <a href="product-details.html"> <img src="/images/product/4.jpg" alt="img"> </a>
                                                    </div>
                                                </td>
                                                <td style="width:40%">
                                                    <div class="miniCartDescription">
                                                        <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                                        <span class="size"> 12 x 1.5 L </span>

                                                        <div class="price"><span> $8.80 </span></div>
                                                    </div>
                                                </td>
                                                <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                <td style="width:5%" class="delete"><a> x </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--/.miniCartTable-->

                                <div class="miniCartFooter  miniCartFooterInMobile text-right">
                                    <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                                    <a class="btn btn-sm btn-danger" href="cart.html">
                                        <i class="fa fa-shopping-cart"> </i> VIEW CART
                                    </a> <a href="checkout-0.html"
                                            class="btn btn-sm btn-primary">CHECKOUT</a>
                                </div>
                                <!--/.miniCartFooter-->

                            </div>
                            <!--/.cartMenu-->
                        </div>
                        <!--/.navbar-cart-->

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/Home"> Anasayfa </a></li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle padding-fix" href="#"> KATEGORİLER<b class="caret"> </b>
                                    </a>
                                    <ul class="dropdown-menu" style="min-width:100px;max-width:600px;" ;>
                                        <li class="megamenu-content ">
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                                <li class="no-border">
                                                <li><a href="/home/campaigns">KAMPANYALAR </a></li>
                                                <li><a href="/home/products">ÜRÜNLER </a></li>



                                            </ul>

                                        </li>
                                    </ul>


                                    <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->


                                <li><a href="/Home/About"> HAKKIMIZDA </a></li>
                                <li><a href="/Home/Contact"> İLETİŞİM </a></li>

                            </ul>


                            <!--- this part will be hidden for mobile version -->
                            <div class="nav navbar-nav navbar-right hidden-xs">
                                <div class="dropdown  cartMenu ">
                                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-shopping-cart"></i> <span class="cartRespons"> Cart ($210.00) </span> <b class="caret"></b>
                                        </a>*@

                                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                                        <div class="w100 miniCartTable scroll-pane">
                                            <table>
                                                <tbody>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/product/3.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> TSHOP Tshirt DO9 </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $22 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $33 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/product/2.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> TShir TSHOP 09 </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $15 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $120 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/product/5.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> Tshir 2014 </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $30 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $80 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/product/3.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> TSHOP T shirt DO20 </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $15 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $55 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/product/4.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> T shirt Black </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $44 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $40 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div>
                                                                <a href="product-details.html">
                                                                    <img src="/images/site/winter.jpg"
                                                                         alt="img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                                <h4><a href="product-details.html"> G Star T shirt </a></h4>
                                                                <span class="size"> 12 x 1.5 L </span>

                                                                <div class="price"><span> $80 </span></div>
                                                            </div>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                                        <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--/.miniCartTable-->

                                        <div class="miniCartFooter text-right">
                                            <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                                            <a class="btn btn-sm btn-danger" href="cart.html">
                                                <i class="fa fa-shopping-cart"> </i> VIEW
                                                CART
                                            </a><a class="btn btn-sm btn-primary">CHECKOUT</a>
                                        </div>
                                        <!--/.miniCartFooter-->

                                    </div>
                                    <!--/.dropdown-menu-->
                                </div>
                                <!--/.cartMenu-->

                                <div class="search-box">
                                    <div class="input-group">
                                        <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                                    </div>
                                    <!-- /input-group -->

                                </div>
                                <!--/.search-box -->
                            </div>
                            <!--/.navbar-nav hidden-xs-->
                        </div>
                        <!--/.nav-collapse -->

                    </div>
                    <!--/.container -->

                    <div class="search-full text-right">
                        <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

                        <div class="searchInputBox pull-right">
                            <form role="form" asp-action="Search" asp-controller="Home" method="get">
                                <input type="search" name="query" id="query" value="@ViewBag.Query" placeholder="Ürün Arayınız..."
                                       class="search-input">
                                <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
                                </form>


                                
</div>
                    </div>
                    <!--/.search-full-->

                </div>
                <!-- /.Fixed navbar  -->

                @RenderBody()

                <footer>
                    <div class="footer">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                    <h3> Destek </h3>
                                    <ul>
                                        <li class="supportLi">
                                            <p>  </p>
                                            <h5><a class="inline" href="callto:+905061112233"> <strong> <b class="fa fa-phone"> </b> @ViewBag.Phone </strong> </a></h5>
                                            <h4>
                                                <a class="inline" href="mailto:yardim@salestore.com">
                                                    <i class="fa fa-envelope-o"> </i>
                                                    @ViewBag.Mail
                                                </a>
                                            </h4>
                                        </li>
                                    </ul>
                                </div>




                                <div style="clear:both" class="hide visible-xs"></div>

                                <div class="col-lg-4  col-md-4 col-sm-3 col-xs-6">
                                    <h3> Hesabım </h3>
                                    <ul>
                                        <li><a href="/Manage/"> Hesap </a></li>
                                        <li><a href="/MyCampaigns"> Kampanyalarım </a></li>
                                        <li><a href="/MyProducts"> Ürünlerim </a></li>

                                    </ul>
                                </div>

                                <div style="clear:both" class="hide visible-xs"></div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                    <h3> İletişimde Kalın </h3>
                                    <ul class="social">
                                        <li><a href="@ViewBag.facebook"> <i class=" fa fa-facebook"> &nbsp; </i> </a></li>
                                        <li><a href="@ViewBag.Twitter"> <i class="fa fa-twitter"> &nbsp; </i> </a></li>
                                        <li><a href="@ViewBag.LinkedIn"> <i class="fa fa-linkedin"> &nbsp; </i> </a></li>

                                    </ul>
                                </div>
                            </div>
                            <!--/.row-->
                        </div>
                        <!--/.container-->
                    </div>
                    <!--/.footer-->

                    <div class="footer-bottom">
                        <div class="container">
                            <p class="pull-left"> &copy; SaleStore 2017. Tüm Hakları Saklıdır. </p>


                        </div>
                    </div>
                    <!--/.footer-bottom-->
                </footer>

                <!-- Le javascript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script type="text/javascript" src="/assets/js/jquery/jquery-1.10.1.min.js"></script>
                <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
                <script src="/assets/js/idangerous.swiper-2.1.min.js"></script>
                <script>
                    var mySwiper = new Swiper('.swiper-container', {
                        pagination: '.box-pagination',
                        keyboardControl: true,
                        paginationClickable: true,
                        slidesPerView: 'auto',
                        autoResize: true,
                        resizeReInit: true,
                    })

                    $('.prevControl').on('click', function (e) {
                        e.preventDefault()
                        mySwiper.swipePrev()
                    })
                    $('.nextControl').on('click', function (e) {
                        e.preventDefault()
                        mySwiper.swipeNext()
                    })

                    $(document).ready(function () {
                        $(document).on('hidden.bs.modal', function (e) {
                            $(e.target).removeData('bs.modal');
                        });
                    });

                </script>

                <!-- include jqueryCycle plugin -->
                <script src="/assets/js/jquery.cycle2.min.js"></script>

                <!-- include easing plugin -->
                <script src="/assets/js/jquery.easing.1.3.js"></script>

                <!-- include  parallax plugin -->
                <script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

                <!-- optionally include helper plugins -->
                <script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

                <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

                <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>

                <!-- include icheck plugin // customized checkboxes and radio buttons   -->
                <script type="text/javascript" src="/assets/plugins/icheck-1.x/icheck.min.js"></script>

                <!-- include grid.js // for equal Div height  -->
                <script src="/assets/js/grids.js"></script>

                <!-- include carousel slider plugin  -->
                <script src="/assets/js/owl.carousel.min.js"></script>

                <!-- jQuery select2 // custom select   -->
                <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

                <!-- include touchspin.js // touch friendly input spinner component   -->
                <script src="/assets/js/bootstrap.touchspin.js"></script>

                <!-- include custom script for only homepage  -->
                <script src="/assets/js/home.js"></script>

                <!-- include custom script for site  -->
                <script src="/assets/js/script.js"></script>


                @RenderSection("Scripts", required: false)
            </body>
        </html>
