@model IEnumerable<SaleStore.Models.Product>

<div class="item itemauto col-sm-4 col-lg-4 col-md-4 col-xs-6">
    @foreach (var item in Model)
                {
        <div class="product">

            <div class="imageHover">
                <a href="product-details.html">
                    <img src="/@item.ProductImage" alt="img" class="img-responsive primaryImage">
                    <img src="/@item.ProductImage" alt="img" class="img-responsive secondaryImage">
                </a>
                @{ var discount = (int)((@item.SalePrice * 100) / @item.UnitPrice);}
                <div class="promotion"><span class="discount">% @discount indirim</span></div>
            </div>


            <div class="description">
                <h4><a href="product-details.html"> @item.Name </a></h4>

                <div class="grid-description">
                    <p>@item.Details</p>
                </div>
                <div class="list-description">
                    <p>
                        @item.Details
                    </p>
                </div>
                <span class="size"><b>@item.SaleStarthDate / @item.SaleEndDate</b> </span>
            </div>
            <div class="price"><span>@item.SalePrice</span></div>
            <div class="action-control">
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">
                    <span class="add2cart">
                        <i class="glyphicon glyphicon-eye-open">&nbsp;</i>Ürünü İncele
                    </span>
                </a>
            </div>
        </div>
                }

</div>