@model IndexViewModel
@{
    ViewData["Title"] = "Hesabını Yönet";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success  headerOffset" style="padding-top:80px;">@ViewData["StatusMessage"]</p>

<div>
    <h2 class="col-md-offset-5"><i class="fa fa-user" style="margin-right:10px;" aria-hidden="true"></i>Üyelik Bilgilerini Değiştir.</h2>
    <hr />
    <div class="container   ">
        <div class="row">
            <div class="col-md-8 col-lg-8">

                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-7">
                        <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> Üyeliğini Yönet </span></h1>

                        <div class="row userInfo">
                            <div class="col-xs-12 col-sm-12">


                                <h2 class="block-title-2"></h2>
                                <ul class="myAccountList row">
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center ">
                                        <div class="thumbnail equalheight">
                                            <a title="Şifre Ayarları" >
                                                <p>Şifre</p><i class="fa fa-unlock-alt"></i> @if (Model.HasPassword)
            {
                                                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Değiştir</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Yeni Ekle</a>
                                                }
                                            </a>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center ">
                                        <div class="thumbnail equalheight">
                                            <a title="Harici Girişler" >
                                                <p>Harici G.</p> <i class="fa fa-mouse-pointer"></i><span style="color:blue;">@Model.Logins.Count</span> <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Yönet</a>

                                            </a>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center ">

                                        <div class="thumbnail equalheight">
                                            <a title="Telefon Numarası" >
                                                <p>Tel No.</p>  <i class="fa fa-mobile"></i>

                                                @(Model.PhoneNumber ?? "Yok")
                                                @if (Model.PhoneNumber != null)
                                                {
                                                    <br />
                                                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Değiştir</a>
                                                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                                                        [<button type="submit" class="btn-link">Sil</button>]
                                                    </form>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Ekle</a>
                                                }
                                            </a>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center ">
                                        <div class="thumbnail equalheight">
                                            <a title="İki Faktörlü Doğrulama" >
                                                <p>İki Fak. Doğrulama</p>  <i class="fa fa-shield"></i>

                                                @if (Model.TwoFactor)
                                                {
                                                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                                                        Aktif <button type="submit" class="btn-link btn-bracketed">Pasif</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                                                        <button type="submit" class="btn-link btn-bracketed">Aktif</button> Pasif
                                                    </form>
                                                }
                                            </a>
                                        </div>
                                    </li>


                                </ul>
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                        <!--/row end-->

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5"></div>
                </div>
                @*<dl class="dl-horizontal">
                    <dt>Şifre:</dt>
                    <dd>
                        @if (Model.HasPassword)
            {
                            <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Değiştir</a>
                        }
                        else
                        {
                            <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Yeni Ekle</a>
                        }
                    </dd>
                    <dt>Harici Girişler:</dt>
                    <dd>

                        @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Yönet</a>
                    </dd>
                    <dt>Telefon Numarası :</dt>
                    <dd>
                        
                        @(Model.PhoneNumber ?? "Yok")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Değiştir</a>
                            <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                                [<button type="submit" class="btn-link">Sil</button>]
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Ekle</a>
                        }
                    </dd>

                    <dt>İki Faktörlü Doğrulama:</dt>
                    <dd>
                        
                        @if (Model.TwoFactor)
                        {
                            <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                                Aktif <button type="submit" class="btn-link btn-bracketed">Pasif</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                                <button type="submit" class="btn-link btn-bracketed">Aktif</button> Pasif
                            </form>
                        }
                    </dd>
                </dl>*@
            </div>
            <div class="col-md-4 col-lg-4">

              <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> Firmanı Yönet </span></h1>

        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">
              

                <h2 class="block-title-2">
                </h2>
                <ul class="myAccountList row">
                    
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6  text-center ">
                        <div class="thumbnail equalheight">
                            <a title="Orders" href="/MyCompanies/Details/">
                                <i class="fa fa-info-circle"></i> Firma Detayları
                            </a>
                        </div>
                    </li>
                 
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6  text-center ">
                        <div class="thumbnail equalheight">
                            <a title="Add  address" href="/MyCompanies/Edit/">
                                <i class="fa fa-edit"></i> Firma Düzenle
                            </a>
                        </div>
                    </li>
                  
                    
                </ul>
                <div class="clear clearfix"></div>
            </div>
        </div>
        <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"></div>
</div>


            </div>
        </div>
    </div>
</div>
      
<div class="gap"></div>
<div class="gap"></div>



