@model ManageLoginsViewModel
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = "Manage your external logins";
}

<h2>@ViewData["Title"].</h2>

<p class="text-success headerOffset" style="padding-top:80px;">@ViewData["StatusMessage"]</p>
@if (Model.CurrentLogins.Count > 0)
{
    <h3 class="col-md-offset-5 col-xs-offset-2 col-sm-offset-2"><i class="fa fa-user-plus" style="margin-right:10px;" aria-hidden="true"></i>Kayıtlı Girişler</h3>

    <table class="table col-md-offset-2">
        <tbody>
            @for (var index = 0; index < Model.CurrentLogins.Count; index++)
            {
                <tr>
                    <td>@Model.CurrentLogins[index].LoginProvider</td>
                    <td>
                        @if ((bool)ViewData["ShowRemoveButton"])
                        {
                            <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal">
                                <div>
                                    <input asp-for="@Model.CurrentLogins[index].LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@Model.CurrentLogins[index].ProviderKey" name="ProviderKey" type="hidden" />
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @Model.CurrentLogins[index].LoginProvider login from your account" />
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins.Count > 0)
{
    <h3 class="col-md-offset-5 col-xs-offset-1 col-sm-offset-1"><i class="fa fa-user-plus" style="margin-right:10px;" aria-hidden="true"></i>Oturum Açmak İçin Başka Bir Servis Ekleyin</h3>
    <hr />
    <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal">
        <div class="col-md-offset-5 col-xs-offset-1 col-sm-offset-1" id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                }
            </p>
            <br />
        </div>
    </form>
}
